<div id="<%= dom_id registration %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= registration.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= registration.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= registration.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= registration.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ahv number:</strong>
    <%= registration.ahv_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date of birth:</strong>
    <%= registration.date_of_birth %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= registration.gender %>
  </div>
</div>
